@page
@model Presentacion.Pages.CrudEmpleado.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a asp-page="Create" class="btn btn-secondary"><img src="~/Media/Agregar.png"> Add Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].CodigoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].AccesoReportes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccesoReportes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary"><img src="~/Media/Editar.png"> Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary"> Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary"><img src="~/Media/Eliminar.png"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
