@page
@model Presentacion.Pages.CrudProducto.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-page="..\CrudConsola\Index" class="btn btn-primary">Consolas</a>
    <a asp-page="..\CrudControles\Index" class="btn btn-primary">Controles</a>
    <a asp-page="..\CrudVideoJuegos\Index" class="btn btn-primary">Video Juegos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].PrecioCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
